div, header, footer, section {
  border: 1px solid black;
}

header {
  height: 100px;
  margin-bottom: 50px;
  /*overflow: auto;*/
}

header div {
  height: 80px;
  margin: 10px;
  float: left;
  width: 10%;
}

#main {
  height: 200px;
  margin: 0 5%;
  margin-bottom: 50px;
  /*overflow: auto;*/
}

#secondary {
  margin-bottom: 50px;
  overflow: auto;
}

#secondary section {
  height: 180px;
  margin: 10px;
  float: left;
  width: 21%;
  margin-left: 3%;
}

footer {
  overflow: auto;
}

footer section {
  height: 80px;
  margin: 10px;
  float: left;
  width: 29%;
  margin-left: 3%;
}

/* Mobile Styles */

@media only screen and (max-width: 700px) and (min-width: 501px) {
  header div {
    color: red;
  }

  header div:nth-child(3), header div:nth-child(4) {
    display: none;
  }
  
  #main {
    width: 100%;
    margin: 10px 0;
  }

  #secondary {
    height: auto;
  }

  #secondary section {
    width: 42%;
    margin-bottom: 15px;
    background-color: blue;
  }

  footer section {
    height: 80px;
    width: 28%;
    background-color: red;
  }
}

@media only screen and (max-width: 500px) {
  header div {
    color: blue;
  }

  #secondary {
    height: auto;
  }

  #secondary section {
    width: 95%;
    background-color: red;
  }

  #secondary section:nth-child(3), #secondary section:nth-child(4) {
   display: none;
  }

  footer section {
    height: 80px;
    width: 100%;
    background-color: blue;
  }

}