body {
	color: #000;
	background-color: #FFE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	border: 10px solid #000;
	padding: 10px;
}

h1 {
	font-size: .8em;
}

h2 {
	font-size: .75em;
	margin: 20px 0px 10px;
}

p, div {
	margin-top: 20px;
}

h3 {
	font-size: .65em;
}

h4 {
	font-size: .55em;
}

li, div, p {
	font-size: .6em;
}

div h3 {
	font-size: 1.4em;
	margin: 0 0 10px;
}

ol {
	margin: 0px 0px 20px;
}

.nutrition {
	color: #887;
}

a {
	color: #900;
}

.img-container {
	display: block;
	width: 80%;
	margin: 20px auto 0px auto;
}

.img-container img {
	width: 100%;
}