body {
	color: #ffe;
	background-color: #000;
	background: url('http://www.mugz.net/chocolate_chip_cooke.png') 0px 0px repeat #000;
	font: 400 14px/16px Arial, Helvetica, sans-serif;
}

h1, h2 {
	font-size: 18px;
}

h2, p, div {
	margin-top: 40px;
}

h3 {
	font-size: 16px;
}

ol {
	margin-bottom: 20px;
}

.nutrition {
	color: #887;
}

a {
	color: #900;
}